{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{# {% load i18n mptt_tags %} #}
{% load thumbnail %}
{% load content_tags %}

{% block products_all %}

{# {% about %} #}

{% all_prod %}



  <!-- Why Section-->




    <section id="news" class="products_all">
    
      

       <div class="container">
        <div class="row_products">

        </div>
<div class="clearfix"></div>


       <div class="row">

        

    {% for category in categories_all %}    



    {% if category.published_in_second == 0 %}

   {% if  category.ordering != 1 %}

   <hr></hr>

     {% endif %}

     
<div class="clearfix"></div>

 <div class="row"  id="{{ category.name }}">

  

    <div class="device_all"><h1  style="text-transform:uppercase">{{ category.name }}</h1></div>
        
  
     </div>

     {% endif %}
    
{% for product in products %}

{% if product.product_category == category %}
     
          <div class="col-sm-4 col-md-3">

  
          

                {# <div class="device"> #}

                {# <h3><a href="/download/">Manual</a><span></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/download_mp3/">Buy</a></h3> #}

                {# </div> #}

          
                <a href="/products/product/{{product.product_category.id}}/{{product.id}}/"><img src="{{ product.slug }}" alt="" class="img-responsive center-block"></a>

                  <div class="device_main_all">

                <h3>{{ product.product_title }}</h3>

                <h4>{{ product.slogan }}</h4>

                 </div>


                 <div class="device_bottom_all">

                <h3>${{ product.product_price }}</span></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/products/product/{{product.product_category.id}}/{{product.id}}/">Learning more</a></h3>

                </div>

               

          </div>
         
          {% endif %}


          
            {% endfor %}

           

            <div class="clearfix"></div>

            {% endfor %}

        </div>
      </div>
    </section>





     <section id="Accessories" class="products_all">
    
       <div class="container">
       <hr></hr>
       <div class="row">



<div class="row">


    <div class="device_all"><h1  style="text-transform:uppercase">Accessories</h1></div>
 
     </div>


    
 {% for accessory in accessories %}    

   
     
          <div class="col-sm-4 col-md-3">

  
          

                {# <div class="device"> #}

                {# <h3><a href="/download/">Manual</a><span></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/download_mp3/">Buy</a></h3> #}

                {# </div> #}

          
                <a href="#"><img src="{% thumbnail accessory.image  457x373 crop %}" alt="" class="img-responsive center-block"></a>
                {# <a href="/products/product/{{accessory.category.id}}/{{accessory.id}}/"><img src="{{ accessory.slug }}" alt="" class="img-responsive center-block"></a> #}

                  <div class="device_main_all">

                <h3>{{ accessory.name }}</h3>

                <h4>{{ accessory.slogan|safe }}</h4>

                 </div>


                 <div class="device_bottom_all">

                {# <h3>${{ accessory.price }}</span></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/products/product/{{accessory.category.id}}/{{accessory.id}}/">Learning more</a></h3> #}
                <h3>${{ accessory.price }}</span></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Learning more</a></h3>

                </div>

               

          </div>
          
            {% endfor %}

        </div>
      </div>
    </section>


    
   {% endblock %}