  

  <section id="news" style="background-image:url({{ backgraund_image.slug }})" class="intro introhalf">
      <!-- Intro Header-->
      
        <div class="container">
        <div class="clearfix"></div>
          <div class="row">
          
            <div class="col-md-10 col-md-offset-1">
            <h4></h4>

             <div class="device_main">

                <h4>{{ backgraund_image.text1|safe }}</h4>
                <h3>{{ backgraund_image.text2|safe }}</h3>

                 </div>

            </div>
          </div>
        
      </div>
    </section>