{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{# {% load i18n mptt_tags %} #}
{% load thumbnail %}
{% load content_tags %}

{% block news %}


{% about %}

    <!-- Portfolio-->
    <section id="portfolio" class="portfolio-wide bg-dark">
      <div class="container text-center">
        <div class="row_portfolio">
          <div class="col-sm-10 col-sm-offset-1">
            <h3>About Pangolin</h3>
            <ul class="portfolio-sorting list-inline text-center">
              <li><a href="#" data-group="all" class="active">All</a></li>
              <li><a href="#" data-group="Software">Software</a></li>
              <li><a href="#" data-group="Hardware">Hardware</a></li>
              <li><a href="#" data-group="Events">Events</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">

        <div id="grid" class="row portfolio-items">

        {% for slide in slides %}
           <div data-groups="[&quot;{{ slide.category.name }}&quot;]" class="col-sm-4">
            <div class="portfolio-item"><a href="{{ slide.slug }}" title="{{ slide.name }}" class="swipebox"><img src="{{ slide.slug }}" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>{{ slide.name }}</h5><span>{{ slide.text1|safe }}</span>
                  </div>
                </div></a></div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>


<!-- Subscribe Section-->
    <section id="subscribe"  class="section-small bg-img5 text-center">
      <div class="overlay-dark"></div>
      <div class="container">
        <div class="row_subs">
          <div class="col-md-8 col-sm-offset-2">
            <h3>Subscribe</h3>
            <h5>Sign-Up For News Updates and Alerts</h5>
            <!-- MailChimp Signup Form - Replace the form action in the line below with your MailChimp embed action! For more information on how to do this please visit the Docs!-->
            <form id="mc-embedded-subscribe-form" action="" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="form-inline subscribe-form">
              <div class="input-group input-group-lg">
                <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email address..." class="form-control"><span class="input-group-btn">
                  <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn btn-dark">Subscribe</button></span>
                <div id="mce-responses"></div>
                <div id="mce-error-response" style="display:none" class="response"></div>
                <div id="mce-success-response" style="display:none" class="response"></div>
              </div>
            </form>
            {# <!-- End MailChimp Signup Form--><img src="img/misc/mailchimp.png" alt=""> #}
          </div>
        </div>
      </div>
    </section>


    <!-- News Block-->
    <section id="news" class="bg-dark">
      <div class="container">
        <h3 class="pull-left">Latest news</h3>
        <div class="pull-right">
          <h5><a href="#">SEE ALL</a></h5>
        </div>
        <div class="clearfix"></div>
        <div class="row grid-pad">

 {% for new in news %}
          <div class="col-sm-4"><a href="#"><img src="{{ new.slug }}" alt="" class="img-responsive center-block">
              <h5>{{ new.name }}</h5></a>
            <p>{{ new.text1|safe }}</p><a href="#" class="btn btn-gray btn-xs">Read more</a>
          </div>

          {% endfor %}
        
        </div>
      </div>
    </section>
   
    {# <div class="section-small action bg-gray text-center"><a href="#" class="btn btn-dark-border">View All About Pangolin</a></div> #}
   
   
    
 
   {% endblock %}