  

  <section id="news" style="background-image:url({{ background_image.slug }})" class="intro introhalf">
      <!-- Intro Header-->
      
        <div class="container">
        <div class="clearfix"></div>
          <div class="row">
          
            <div class="col-md-10 col-md-offset-1">
            <h4></h4>

             <div class="device_main">
             <h4>2017 © Pangolin Laser Systems Inc.</h4>

                <h3 class="wow fadeInLeft" data-wow-duration="2s">{{ background_image.text1|safe }}</h3>
                <h3 class="wow fadeInRight" data-wow-duration="2s">{{ background_image.text2|safe }}</h3>

                 </div>

            </div>
          </div>
        
      </div>
    </section>