
  <header style="background-image:url({{ background_image.slug }})" class="intro introhalf">
      <!-- Intro Header-->
      
        <div class="intro-body">
         {# <div class="container"> #}
          {# <div class="row"> #}
          
            <div class="col-md-10 col-md-offset-1">
           

             <div class="device_main">
             <h4>2017 © Pangolin Laser Systems Inc.</h4>

                <h3  data-wow-duration="2s" class="wow fadeInLeft">{{ background_image.text1|safe }}</h3>
                <h3  data-wow-duration="2s" class="wow fadeInRight">{{ background_image.text2|safe }}</h3>

                 </div>

            {# </div> #}
             {# </div> #}
          </div>
        
      </div>
     </header>