
  <header style="background-image:url(/static/pangolinfog/img/slide_prod_grey12.png)" class="intro introhalf">
      <!-- Intro Header-->
      <div class="intro-body">
      <div class="container">
          <div class="row">
        <h2 data-wow-duration="2s" class="animated zoomIn">We make your laser dreams came true</h2>
        <h5>2017 &copy Pangolin Laser Systems Inc.</h5>
      </div>
      </div>
      </div>
      
        {# <div class="intro-body"> #}
         {# <div class="container"> #}
          {# <div class="row"> #}
          
            {# <div class="col-md-10 col-md-offset-1"> #}
           

             {# <div class="device_main"> #}
             {# <h4>2017 © Pangolin Laser Systems Inc.</h4> #}

                {# <h3  data-wow-duration="2s" class="animated fadeInLeft">{{ background_image.text1|safe }}</h3> #}
                {# <h3  data-wow-duration="2s" class="animated fadeInRight">{{ background_image.text2|safe }}</h3> #}

                 {# </div> #}

            {# </div> #}
             {# </div> #}
          {# </div> #}
        
      {# </div> #}
     </header>